* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  color: white;
}

p {
  text-align: justify;
  color: darkgrey;
}

.icon {
  transition-duration: 1s;
}

.icon:hover {
  transform: translatey(-7px);
}

.name {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
}

.button {
  width: 150px;
  height: 25px;
  margin-top: 20px;
  border-radius: 15px;
  color: white;
  background-color: black;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  transition-duration: 1s;
}

.button:hover {
  color: black;
  background-color: white;
  transform: translateY(-3px);
}

.main-section {
  background-image: url("assets/Screenshot\ 2025-06-24\ 220953.png");
  width: 100%;
  height: 100vh;
  align-content: center;
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center;     /* Vertical center */
}

.wrapper {
  background-color: rgb(0, 0, 0);
  display: inline-flex;
  border-style: solid;
  width: 70%;
  padding: 3%;
  /* margin: 10%; */
  border-radius: 15px;
  border-color: rgb(223, 223, 223);
}

.profile {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  /* background-color: red; */
  width: 100%;
}

#profile {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.icons {
  align-items: end;
  width: 70%;
  /* background-color: black; */
  display: flex;
  justify-content: flex-end;
  text-align: right;
  gap: 15px;
}

.icon {
  height: 25px;
  /* background-color: white;
    border-radius: 80%; */
}

.tag {
  width: 50%;
}

.project {
  width: 100%;
  height: 100vh;
  justify-items: center;
  align-content: center;
}

.project-wrapper {
  width: 50%;
  height: auto;
  padding: 25px;
  /* margin-top: 50px; */
  /* margin-bottom: 50px; */
  border-style: solid;
  border-radius: 15px;
}

.card-wrapper {
  display: inline-flex;
  padding-top: 15px;
  width: 100%;
  /* max-height: 500px; */
  gap: 50px;
}

.card {
  width: 3500px;
  height: 100%;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 10px;
  box-shadow: grey 0px 10px 30px 0px;
  border-style: solid;
  border-color: darkgrey;
}

.card-img {
  width: 100%;
  height: 75%;
  border-radius: 15px;
  margin-bottom: 10px;
}

.contact-form {
  padding-top: 15px;
}

.form {
  width: 750px;
  height: 30px;
  padding-left: 15px;
  background-color: black;
  color: white;
  border-style: solid;
  border-radius: 100px;
  border-color: white;
}

.form-text {
  width: 100%;
  max-width: 750px;
  min-width: 750px;
  min-height: 40px;
  padding-left: 15px;
  padding-top: 5px;
  background-color: black;
  color: white;
  border-color: white;
  border-radius: 12px;
}

.back {
  color: white;
}

@media screen and (max-width: 500px) {
  .project-wrapper {
    width: 75%;
  }

  .project {
    margin-top: 10%;
    /* margin-bottom: %; */
  }
  .card-wrapper {
    width: 100%;
    flex-wrap: wrap;
  }

  .card {
    width: 100%;
  }

  .tag {
    width: 100%;
  }


  .form, .form-text {
    width: 95%;
    max-width: 95%;
    min-width: 95%;
  }

  .main-section {
    background-image: url("assets/Screenshot\ 2025-06-24\ 220953.png");
    width: 100%;
    height: 100vh;
    align-content: center;
  }
  
  .wrapper {
    background-color: rgb(0, 0, 0);
    width: 400px;
    display: inline-flex;
    border-style: solid;
    /* margin-left: 350px;
    margin-right: 350px; */
    padding: 3%;
    border-radius: 15px;
    align-content: center;
    border-color: rgb(223, 223, 223);
  }

  .tag {
  margin: 10px;
  }


}
